.form-body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 10px;
  width: 350px;
}

.form-body form input {
  height:30px;
  width: 350px;
  margin: 10px;
  border: .5px solid rgba(54, 52, 52, 0.89);
  border-radius: 4px;
}

.form-body form input:focus {
  outline: none;
  box-shadow: 0 0 3px 2px red;
}

.form-body .flame-btn {
  position: absolute;
  top: 0;
  right: -10px;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  cursor: pointer;
  width: 190px;
  font-size: 30px;
  font-weight: 600;
  width: 30px;
  padding: 0;
  color: #f5f5dc;
}

.form-body .flame-btn:active {
  transform: scale(.90);
}

input {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.226);
  border: none;
}

#flame-input-form {
  margin: 0 auto;
}

.fire-btn {
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  cursor: pointer;
}
