.flames-body {
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.allFlames {
    max-width: 800px;
    min-width: 350px;
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    /* overflow: hidden; */
}

/* .allFlames:hover {
    overflow-y: scroll;
} */